In [2]:
import pandas as pd
import sentencepiece as spm

In [3]:
df = pd.read_json('output\General_train_text_chunk_1_cleaned.jsonl', lines = True)

In [ ]:
# df['cleaned_abstract'] = df['cleaned_abstract'].apply(lambda x: 'sostok ' + x + ' eostok')

In [5]:
df.columns

Index(['cleaned_text', 'cleaned_abstract', 'text_token_length',
       'abstract_token_length'],
      dtype='object')

In [3]:
spm.SentencePieceTrainer.Train(input = ['output\General_train_text_chunk_1_cleaned.jsonl','output\General_train_text_chunk_2_cleaned.jsonl','output\General_train_text_chunk_3_cleaned.jsonl','output\General_train_text_chunk_4_cleaned.jsonl','output\General_train_text_chunk_5_cleaned.jsonl'], model_prefix = 'bpe', vocab_size = 6000)

In [4]:
sp = spm.SentencePieceProcessor(model_file = 'bpe.model')

In [95]:
for i in range(len(df)):
    text = sp.encode(df.at[i, 'cleaned_text'])
    abstract = sp.encode(df.at[i, 'cleaned_abstract'])
    df.at[i, 'text_token_length'] = int(len(text))
    df.at[i, 'abstract_token_length'] = int(len(abstract))

In [96]:
df

,cleaned_text,cleaned_abstract,text_token_length,abstract_token_length
0,(cnn) -- Flamboyant carnival musician michel m...,sostok New: streets fill with jubilant michel ...,632,72
1,Kenyan counterterrorism sources are looking at...,sostok A norwegian citizen of somali descent i...,1257,83
2,Unmanned aerial vehicles aren't generally thou...,sostok The uae launched the drones for good aw...,684,52
3,Washington (cnn) -- One of two photojournalist...,sostok Footage of u.s. helicopter attack on tw...,853,90
4,Hundreds of anti-abortion activists gathered i...,sostok Sunday was the 39th anniversary of the ...,494,77
...,...,...,...,...
16224,"By . James chapman . Published: . 11:06 est, 1...",sostok Seven coalition departments have increa...,1115,38
16225,"Published: . 14:16 est, 1 august 2012 . | . Up...","sostok Frail john savage, 77, hung by his trou...",862,53
16226,By . Daily mail reporter . Published: . 08:58 ...,sostok Dr william petit married christine palu...,1475,107
16227,"By . Larisa brown . Published: . 12:08 est, 6 ...","sostok Damon gough repeatedly swore at crowd, ...",726,52
16228,By . Daily mail reporter . Published: . 15:15 ...,sostok The merseyside-based traffickers plotte...,911,85

In [97]:
print(min(df['text_token_length']), min(df['abstract_token_length']))

80 27

In [98]:
df_filterd = df[
    (df['text_token_length'] <= 2500) &
    (df['text_token_length'] >= 250) & 
    (df['abstract_token_length'] <= 140) &
    (df['abstract_token_length'] >= 30)
]
df_filterd

,cleaned_text,cleaned_abstract,text_token_length,abstract_token_length
0,(cnn) -- Flamboyant carnival musician michel m...,sostok New: streets fill with jubilant michel ...,632,72
1,Kenyan counterterrorism sources are looking at...,sostok A norwegian citizen of somali descent i...,1257,83
2,Unmanned aerial vehicles aren't generally thou...,sostok The uae launched the drones for good aw...,684,52
3,Washington (cnn) -- One of two photojournalist...,sostok Footage of u.s. helicopter attack on tw...,853,90
4,Hundreds of anti-abortion activists gathered i...,sostok Sunday was the 39th anniversary of the ...,494,77
...,...,...,...,...
16224,"By . James chapman . Published: . 11:06 est, 1...",sostok Seven coalition departments have increa...,1115,38
16225,"Published: . 14:16 est, 1 august 2012 . | . Up...","sostok Frail john savage, 77, hung by his trou...",862,53
16226,By . Daily mail reporter . Published: . 08:58 ...,sostok Dr william petit married christine palu...,1475,107
16227,"By . Larisa brown . Published: . 12:08 est, 6 ...","sostok Damon gough repeatedly swore at crowd, ...",726,52
16228,By . Daily mail reporter . Published: . 15:15 ...,sostok The merseyside-based traffickers plotte...,911,85

In [99]:
print(min(df_filterd['text_token_length']), min(df_filterd['abstract_token_length']))

250 30

In [100]:
df_filterd.reset_index(drop = True)

,cleaned_text,cleaned_abstract,text_token_length,abstract_token_length
0,(cnn) -- Flamboyant carnival musician michel m...,sostok New: streets fill with jubilant michel ...,632,72
1,Kenyan counterterrorism sources are looking at...,sostok A norwegian citizen of somali descent i...,1257,83
2,Unmanned aerial vehicles aren't generally thou...,sostok The uae launched the drones for good aw...,684,52
3,Washington (cnn) -- One of two photojournalist...,sostok Footage of u.s. helicopter attack on tw...,853,90
4,Hundreds of anti-abortion activists gathered i...,sostok Sunday was the 39th anniversary of the ...,494,77
...,...,...,...,...
16066,"By . James chapman . Published: . 11:06 est, 1...",sostok Seven coalition departments have increa...,1115,38
16067,"Published: . 14:16 est, 1 august 2012 . | . Up...","sostok Frail john savage, 77, hung by his trou...",862,53
16068,By . Daily mail reporter . Published: . 08:58 ...,sostok Dr william petit married christine palu...,1475,107
16069,"By . Larisa brown . Published: . 12:08 est, 6 ...","sostok Damon gough repeatedly swore at crowd, ...",726,52
16070,By . Daily mail reporter . Published: . 15:15 ...,sostok The merseyside-based traffickers plotte...,911,85

In [101]:
df_filterd.columns

Index(['cleaned_text', 'cleaned_abstract', 'text_token_length',
       'abstract_token_length'],
      dtype='object')

In [102]:
text_tokens = []
abstract_tokens = []

for tokens in range(len(df_filterd)):
    text = sp.encode(df_filterd.iloc[tokens]['cleaned_text'])
    abstract = sp.encode(df_filterd.iloc[tokens]['cleaned_abstract'])
    text_tokens.append(text)
    abstract_tokens.append(abstract)

In [103]:
df_filterd.to_json('output\General_train_text_chunk_5_cleaned.jsonl', orient = 'records', lines = True)
df_tokens = pd.DataFrame(list(zip(text_tokens, abstract_tokens)), columns = ['text_tokens', 'abstract_tokens'])
df_tokens

,text_tokens,abstract_tokens
0,"[98, 101, 66, 47, 408, 2321, 524, 37, 366, 215...","[17, 3, 46, 517, 60, 2407, 4023, 29, 1354, 179..."
1,"[17, 0, 136, 37, 137, 3101, 243, 93, 133, 1303...","[17, 3, 46, 88, 1748, 149, 114, 391, 3025, 9, ..."
2,"[2705, 170, 1715, 8, 49, 587, 2957, 58, 31, 12...","[17, 3, 46, 27, 104, 39, 52, 1868, 4, 2901, 3,..."
3,"[17, 1905, 98, 101, 66, 47, 909, 9, 105, 1896,...","[17, 3, 46, 408, 2040, 26, 416, 9, 104, 6, 3, ..."
4,"[5000, 3, 9, 1107, 16, 1071, 133, 677, 2136, 3...","[17, 3, 46, 5899, 23, 4, 3802, 115, 3279, 9, 4..."
...,...,...
16066,"[2658, 15, 5383, 1102, 107, 170, 15, 2473, 60,...","[17, 3, 46, 4845, 2905, 401, 3, 50, 2870, 80, ..."
16067,"[2473, 60, 15, 821, 60, 4150, 1010, 5, 413, 94...","[17, 3, 46, 408, 154, 200, 758, 469, 220, 416,..."
16068,"[2658, 15, 4462, 2812, 2873, 15, 2473, 60, 15,...","[17, 3, 46, 2778, 2850, 1965, 95, 2253, 3946, ..."
16069,"[2658, 15, 1306, 169, 3, 39, 1469, 15, 2473, 6...","[17, 3, 46, 2476, 1066, 252, 1227, 4029, 1011,..."
16070,"[2658, 15, 4462, 2812, 2873, 15, 2473, 60, 15,...","[17, 3, 46, 27, 1988, 3, 857, 1019, 16, 1648, ..."

In [104]:
df_tokens.to_json('output/train_tokens_5.jsonl', orient = 'records', lines = True)

In [2]:
from pymongo import MongoClient

MONGO_URI = "mongodb+srv://hp333854:hp333854@cluster0.itbg0zx.mongodb.net/file_db?retryWrites=true&w=majority&appName=Cluster0"

client = MongoClient(MONGO_URI)
db = client["file_db"]

print("âœ… Connected to:", db.name)
# print("ðŸ“‚ Collections:", db.list_collection_names())

âœ… Connected to: file_db